body {
  background-color: black;
}

/* .navbar{
  position: fixed;
} */

.devs {
  text-align: center;
  margin: 2%;
  color: slategrey;
}
.my_img {
  width: 150px;
}

.h2_title {
  text-align: center;
  margin: 4%;
  color: slategrey;
}

.card {
  background-color: red;
  align-items: center;
  padding: 3%;
}

.div_pic {
  display: flex;
  justify-content: center;
}
.img_section1{
  border-radius: 15px;
}

.div_pic2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img_section2{
  width: 150px;
  margin: 3%;
}
